@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

/*Ajuste general*/

* {
    box-sizing: border-box;
    
    margin: 0;
    border: 0px;
    padding: 0px;
}


/*HEADER de gobierno*/
.gobiernoHeader {
    display: flex;
    
    background-color: #152d28;
    
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    height: 45px;
    max-width: 100%;

    align-items: center;
    justify-content: space-between;

    padding: 0px 210px;
}


.navGobierno {
    display: flex;

    height: 100%;

    align-items: center;
}


/*LOGO DE BOBIERNO*/

.logoGobierno {
    display: flex;

    height: 100%;

    align-items: center;
}

.logoGobierno a {
    display: flex;
    align-items: center;
    
    color: #a2acaa;

    height: 100%;
}

.logoGobierno a:hover  img {
    filter: brightness(70%);  
}

.logoGobierno img {
    height: 29px;
    width: auto; 
}


/*LINKS DE GOBIERNO*/
.linksGobierno {
    display: flex;
    align-items: center;

    height: 100%;

    list-style-type: none;   
}

.linksGobierno li {
    display: flex;

    align-items: center;
    
    height: 100%;

    margin: 0px 2px;
    padding: 0px 15px;

    cursor: pointer;
}

.linksGobierno li:hover a{
    color: #a2acaa;
    text-decoration: none;
}

.linksGobierno svg {
    height: 15px;
    width: auto;
}

.linksGobierno a {
    color: white;
   text-decoration: none;
}
